$color-white: #ffffff;
$color-black: #000000;
$color-black-90: rgba(0, 0, 0, 0.9);
$color-black-65: rgba(0, 0, 0, 0.65);
$color-observatory: #009379;
$color-aqua-squeeze: #e5f4f2;
$color-mine-shaft: #2d2d2d;
$color-alto: #d8d8d8;
$color-mandys-pink: #F2BFAF;
$color-lavender: #DBE3FF;
$color-dark-liver: #4E4D4D;
$color-ultramarine-blue: #3366FF;
$color-new-car: #1b46c8;
$color-black-olive: #3b3b3b;
$color-eerie-black: #111827;
$color-charcoal: #374151;
$color-sunset-orange-20: rgba(255, 98, 80, 0.2);
$color-veronese-green-20: rgba(0, 147, 121, 0.2);
$color-jasmine-20: rgba(248, 213, 126, 0.2);
$color-zircon: #f8f9ff;
$color-box-shadow: 35px 30px 50px rgba(51, 102, 255, 0.05);
$font-size-heading-90: 90px;
$font-size-heading-67: 67px;
$font-size-heading-50: 50px;
$font-size-heading-38: 38px;
$font-size-heading-28: 28px;
$font-size-heading-21: 21px;
$font-size-body-28: 28px;
$font-size-body-24: 24px;
$font-size-body-21: 21px;
$font-size-body-16: 16px;
$font-size-body-14: 14px;
$font-family-mulish: "Mulish", sans-serif;
$font-family-poppins: "Poppins", sans-serif;
$breakpoint-578: 575.98px;
$breakpoint-768: 767.98px;
$breakpoint-992: 991.98px;
$breakpoint-1200: 1199.98px;
$space-80: 80px;
$space-100: 100px;
$space-160: 160px;