@import "../../global";
.header-section {
  .header-wrapper {
    .nav-links {
      &.show-mobile-nav {
        display: flex;
        background-color: $color-black-90;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 35px;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;
        z-index: 2;
  
        > a {
          color: $color-white;
          font-size: $font-size-body-21;
          line-height: 28px;
  
          @include media-min($breakpoint-578) {
            font-size: $font-size-body-24;
            line-height: 32px;
          }
  
          &:hover {
            color: $color-observatory;
          }
        }
      }
    }
  }
}
